:root {
    --md-primary-fg-color:        #FACC2E;
    --md-primary-fg-color--light: #FFFF61;
    --md-primary-fg-color--dark:  #d4a608;
}

body[data-md-color-scheme="default"] .md-header,
body[data-md-color-scheme="default"] .md-tabs {
    background-color: #F0F0F0;
    color: var(--md-primary-fg-color--dark);
}

body[data-md-color-scheme="slate"] .md-header,
body[data-md-color-scheme="slate"] .md-tabs {
    background-color: var(--md-primary-fg-color--dark);
}
